[Unit]
Description=Ejecutar pipeline Effi cada 2 horas
Requires=effi-pipeline.service

[Timer]
# 5 min después del arranque del sistema
OnBootSec=5min
# Cada 2 horas desde la última ejecución
OnUnitActiveSec=2h
# Si se perdió una ejecución (equipo apagado), correr al reiniciar
Persistent=true
# Nombre del servicio a activar
Unit=effi-pipeline.service

[Install]
WantedBy=timers.target
